.project,
.reverse {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 1200px;
  background-color: gold;

  &-image-container {
    background-color: #000;
    width: 510px;
    height: 310px;
    margin: 10px;
    @media screen and (max-width: 414px) {
      width: 80%;
      height: 50%;
    }
  }
  &-details {
    width: 600px;
  }
  @media screen and (max-width: 414px) {
    flex-direction: column;
    width: 350px;
  }
}

.reverse {
  flex-direction: row-reverse;
}
